@inject RegistrationService _registrationService

<div class="registration-actions">
    
    @if(RegistrationRequest.Status == Datahub_Registration_Request.STATUS_CREATE)
    {
    }
</div>

@code {
 
    [Parameter]
    public Datahub_Registration_Request RegistrationRequest { get; set; }


    private async Task<bool> IsValidToProvision()
    {
        return await _registrationService.IsValidRegistrationRequest(RegistrationRequest);
    }
}